<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لیست انتخاب واحد</title>
</head>
<body>
    <h1>لیست انتخاب واحد</h1>
    <table>
        <thead>
            <tr>
                <th>نام درس</th>
                <th>زمان و تاریخ شروع کلاس</th>
                <th>زمان و تاریخ امتحان</th>
            </tr>
        </thead>
        <tbody>
            {% for choice in choices %}
            <tr>
                <td>{{ choice.Namelesson.NameOfLesson }}</td>
                <td>{{ choice.ClassDayTime }}</td>
                <td>{{ choice.ExamDateTime }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
