<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فرم ثبت نام</title>
</head>
<body>
    <h1>فرم ثبت نام</h1>
    <form method="post">
        {% csrf_token %}
        <label for="fullname">نام و نام خانوادگی:</label><br>
        <input type="text" id="fullname" name="fullname"><br>
        <label for="fathername">نام پدر:</label><br>
        <input type="text" id="fathername" name="fathername"><br>
        <label for="birth">تاریخ تولد:</label><br>
        <input type="date" id="birth" name="birth"><br>
        <label for="nationalnumber">شماره ملی:</label><br>
        <input type="text" id="nationalnumber" name="nationalnumber"><br>
        <label for="address">آدرس:</label><br>
        <input type="text" id="address" name="address"><br>
        <label for="postalcode">کد پستی:</label><br>
        <input type="text" id="postalcode" name="postalcode"><br>
        <label for="major">رشته تحصیلی:</label><br>
        <select id="major" name="major">
            {% for major in majors %}
            <option value="{{ major.id }}">{{ major.MajorName }}</option>
            {% endfor %}
        </select><br>
        <label for="collage">دانشکده:</label><br>
        <select id="collage" name="collage">
            {% for collage in collages %}
            <option value="{{ collage.id }}">{{ collage.Collagename }}</option>
            {% endfor %}
        </select><br>
        <label for="content">محتوای توضیحات:</label><br>
        <textarea id="content" name="content"></textarea><br>
        <label for="grade">مقطع تحصیلی:</label><br>
        <select id="grade" name="grade">
            <option value="1">لیسانس</option>
            <option value="2">فوق لیسانس</option>
            <option value="3">دکتری</option>
        </select><br><br>
        <input type="submit" value="ثبت نام">
    </form>
</body>
</html>
